@charset "UTF-8";

html,
body {
  height: 100%;
  margin: 0;
}

body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  cursor: pointer;
}

h1 {
  color: white;
  text-shadow: black 2px 2px 4px;
  font-size: 1.5em;
  font-weight: 900;
  margin: 0;
  position: absolute;
  top: 10px;
  left: 20px;
  z-index: 10;
  max-width: 400px;
  text-align: left;
  line-height: 1.2;
}

p {
  color: white;
  text-shadow: black 2px 2px 4px;
  font-size: 0.9em;
  font-weight: 600;
  margin: 0;
  position: absolute;
  top: 60px;
  left: 20px;
  z-index: 10;
  max-width: calc(100% - 40px);
  line-height: 1.3;
  text-align: left;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

#score {
  position: absolute;
  top: 30px;
  right: 30px;
  font-size: 2em;
  font-weight: 900;
}

#introduction {
  width: 200px;
  height: 150px;
  position: absolute;
  font-weight: 600;
  font-size: 0.8em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  transition: opacity 2s;
}

#restart {
  width: 120px;
  height: 120px;
  position: absolute;
  border-radius: 50%;
  color: white;
  background-color: red;
  border: none;
  font-weight: 700;
  font-size: 1.2em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  display: none;
  cursor: pointer;
}



